body {
	
	background-color: aqua;
	font-family: sans-serif,cursive, Calibri;
	
	color: white;
	
	background-image: url("");
}

.container{
	padding: 50px;
	background-color: blue;
}

.btn{
	
	margin: 9px 0;
	width: 20%;
	cursor: pointer;
	color: red;
	background-color: green;
	padding: 16px 20px;
	opacity: 0.9;
	font-size: 20px;
}